server {
        #include /etc/nginx/global-includes.conf;
        #index index.php index.html;
        root /var/www/api/image/;
        include /etc/nginx/mirror-mime.types;
        default_type application/text;

        server_name i.mxsmp.com;
        client_max_body_size 100M;
        expires 90d;
        gzip on;

        location = / {
                include /etc/nginx/mime.types;
                try_files /index.html =404;
        }

        location / {
                include /etc/nginx/fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME  /var/www/api/image/image.php;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location /http {
                include /etc/nginx/fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME  /var/www/api/image/new.php;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location /upload {
                include /etc/nginx/fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME  /var/www/api/image/upload.php;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location /feed {
                include /etc/nginx/fastcgi_params;
                fastcgi_param   SCRIPT_FILENAME  /var/www/api/image/feed.php;
                fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        }

        location /0 { try_files /storage/0/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /1 { try_files /storage/1/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /2 { try_files /storage/2/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /3 { try_files /storage/3/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /4 { try_files /storage/4/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /5 { try_files /storage/5/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /6 { try_files /storage/6/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /7 { try_files /storage/7/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /8 { try_files /storage/8/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /9 { try_files /storage/9/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /a { try_files /storage/a/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /b { try_files /storage/b/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /c { try_files /storage/c/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /d { try_files /storage/d/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /e { try_files /storage/e/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location /f { try_files /storage/f/$uri =404 /d550a48882df2e48c0505c98127e510c.jpeg; }
        location ~* /thumbnail/(.)(.*) { try_files /storage/thumbs/$1/$1$2 /storage/$1/$1$2 =404 /d550a48882df2e48c0505c98127e510c.jpeg; }

        listen [::]:443 ssl ipv6only=on http2; # managed by Certbot
        listen 443 ssl http2; # managed by Certbot
        ## ssl configuration from certbot ##
}